/* Font Adding */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Universal */
* {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
}
:root {
    --default-black: #3A3A3A;
    --all-description: #6C6C6C;
    --default-pink: #E02C6D;
    --icon-size: 1.75rem;
    --description-font-size: 1rem;
    --white-color: #FFFFFF;
}

/* Nav Section */
.logo {
    color: var(--default-black);
    font-size: 1.5rem;
}
.nav-content {
    display: flex;
    gap: 35px;
    align-items: center;
}
.nav-content li {
    list-style-type: none;
}
.nav-content a {
    text-decoration: none;
    color: var(--default-black);
}
.nav-icons {
    font-size: var(--icon-size);
    color: var(--default-black);
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px 30px 50px;
}

/* Hero Section */

.hero-description {
    color: var(--all-description);
    font-size: var(--description-font-size);
    padding: 20px 0px 20px 0px;
}
.hero-headline {
    font-size: 3.25rem;
    color: var(--default-black);
}
.preebook-btn {
    border: 0px;
    background-color: var(--default-pink);
    color: var(--white-color);
    padding: 10px 25px 10px 25px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 50px;
}
.camera-background {
    background-image: url('../assets/main-images/circle-design.svg');
    height: 470px;
    width: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 5px 20px 5px;
}

/* Hero Logo Section */
.hero-section-logo {
    text-align: center;
    margin-top: 20px;
}
.hero-section-logo img {
    padding: 20px;
}

/* Extra Small (max-width: 480px) */
@media (max-width: 480px) {
    .logo {
        font-size: 1.5rem;
        padding-bottom: 30px;
    }
    .nav-content {
        flex-direction: column;
        gap: 10px;
    }
    .nav-container {
        flex-direction: column;
    }
    
    /* Hero Section */
    .hero-section {
        flex-direction: column-reverse;
        align-items: center;
    }
    .hero-text {
        text-align: center;
    }
    .camera-background img {
        width: 85%;
    }
    .camera-background {
        width: 300px;
        height: 300px;
        background-size: contain;
    }
    .hero-headline {
        font-size: 2.5rem;
        padding-top: 40px;
        width: 90%;
    }
    .headline-hero {
        display: flex;
        justify-content: center;
    }
    .hero-description {
        width: 80%;
    }
    .description-hero {
        display: flex;
        justify-content: center;
    }
}

/* Small Screen (min-width: 481px) and (max-width: 768px) */

@media (min-width: 481px) and (max-width: 768px) {
    .logo {
        padding-bottom: 20px;
        font-size: 2rem;
    }
    .nav-container {
        flex-direction: column;
    }
    .nav-content {
        flex-direction: column;
        gap: 10px;
    }

    /* Hero-Section */
    .hero-section {
        flex-direction: column-reverse;
        align-items: center;
    }
    .hero-text {
        text-align: center;
    }
    .camera-background img {
        width: 90%;
    }
    .camera-background {
        width: 400px;
        height: 400px;
        background-size: contain;
    }
    .hero-headline {
        font-size: 2.5rem;
        padding-top: 40px;
    }
    .hero-description {
        width: 70%;
    }
    .description-hero {
        display: flex;
        justify-content: center;
    }
}

/* min-width: 769px & max-width: 1025px */

@media (min-width: 769px) and (max-width: 1025px) {
    .hero-headline {
        font-size: 1.75rem;
    }
    .hero-description {
        width: 75%;
    }
    .camera-background {
        height: 300px;
        width: 300px;
        background-size: contain;
    }
    .camera-background img {
        width: 80%;
    }
    .hero-text {
        padding-left: 40px;
    }
    .camera-background {
        margin-right: 40px;
    }
}

/* min-width: 1026px max-width: 1200px */
@media (min-width: 1026px) and (max-width: 1200px) {
    .hero-headline  {
        font-size: 3rem;
    }
    .camera-background {
        width: 400px;
        height: 400px;
        background-size: contain;
        margin-right: 40px;
    }
    .camera-background img {
        width: 80%;
    }
    .hero-text {
        padding-left: 40px;
    }
}